/lib/*
.settings
*.project

# Files generated if using the signhp profile
/SighHPUtility.log
/SighHPUtility.logerr
/SignHP.log
/filelist.txt
/filelist_after_filtering-AGN_JAR.txt
/login.conf
/files_not_confirmed-AGN_JAR.txt
/files_not_signed-AGN_JAR.txt
