<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension  
         point="org.eclipse.ui.preferencePages">
      <page
            name="HPE Next Gen ALM Octane"
            class="com.example.testplugin.preferences.SamplePreferencePage"
            id="com.example.testplugin.preferences.SamplePreferencePage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.example.testplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Sample Page"
            nameFilter="*.*"
            class="com.example.testplugin.properties.SamplePropertyPage"
            id="com.example.testplugin.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.example.testPlugin">
      </category>
      <view
            name="Defects"
            icon="icons/sample.gif"
            category="com.example.testPlugin"
            class="com.example.testplugin.views.SampleView"
            id="com.example.testplugin.views.SampleView">
      </view>   
      
      <view
            name="Defect"
            icon="icons/sample.gif"
            category="com.example.testPlugin"
            class="com.example.testplugin.views.DefectView"
            id="com.example.testplugin.views.DefectView">
      </view>   
      
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.example.testplugin.views.SampleView">
         </view>
           <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.example.testplugin.views.DefectView">
         </view>
         
      </perspectiveExtension>
   </extension>

</plugin>
