<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Octane"
            id="octane-eclipse-plugin">
      </category>
      <view
            name="MyWork"
            icon="icons/sample.gif"
            category="octane-eclipse-plugin"
            class="com.hpe.octane.ideplugins.eclipse.ui.MyWorkView"
            id="com.hpe.octane.ideplugins.eclipse.ui.MyWork">
      </view>
      <view
            category="octane-eclipse-plugin"
            class="octaneeclipseplugin.views.SampleView"
            icon="icons/sample.gif"
            id="octaneeclipseplugin.views.SampleView"
            name="Sample View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="octaneeclipseplugin.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="com.hpe.octane.ideplugins.eclipse.ui.MyWork"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hpe.octane.ideplugins.eclipse.ui.editor.EntityModelEditor"
            id="com.hpe.octane.ideplugins.eclipse.ui.EntityModelEditor"
            name="EntityModelEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.hpe.octane.ideplugins.eclipse.ui.editor.CallEditor"
            id="com.hpe.octane.ideplugins.eclipse.ui.editor.openEditor"
            name="Open Entity Editor">
      </command>
   </extension>

</plugin>
