<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Octane Eclipse Plugin"
            id="octane-eclipse-plugin">
      </category>
      <view
            allowMultiple="false"
            category="octane-eclipse-plugin"
            class="com.hpe.octane.ideplugins.eclipse.ui.mywork.MyWorkView"
            icon="icons/mywork.png"
            id="com.hpe.octane.ideplugins.eclipse.ui.mywork.MyWorkView"
            name="My Work">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.hpe.octane.ideplugins.eclipse.ui.mywork.MyWorkView"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.hpe.octane.ideplugins.eclipse.ui.mywork.MyWorkView"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.mylyn.tasks.ui.perspectives.planning">
         <view
               id="com.hpe.octane.ideplugins.eclipse.ui.mywork.MyWorkView"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.mylyn.tasks.ui.views.tasks">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.team.ui.TeamSynchronizingPerspective">
         <view
               id="com.hpe.octane.ideplugins.eclipse.ui.mywork.MyWorkView"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.team.ui.TeamSynchronizingPerspective">
         <view
               id="com.hpe.octane.ideplugins.eclipse.ui.mywork.MyWorkView"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.mylyn.tasks.ui.views.tasks">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.hpe.octane.ideplugins.eclipse.ui.editor2.EntityModelEditorNew"
            id="com.hpe.octane.ideplugins.eclipse.ui.editor2.EntityModelEditorNew"
            name="EntityModelEditorNew">
      </editor>
      <editor
            class="com.hpe.octane.ideplugins.eclipse.ui.search.SearchEditor"
            icon="icons/search.png"
            id="com.hpe.octane.ideplugins.eclipse.ui.search.SearchEditor"
            name="SearchEditor">
      </editor>
      <editor
            class="com.hpe.octane.ideplugins.eclipse.ui.editor.snake.SnakeEditor"
            default="false"
            icon="icons/octane-icon-13x13.png"
            id="com.hpe.octane.ideplugins.eclipse.ui.editor.snake.SnakeEditor"
            name="Octane Snake">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.hpe.octane.ideplugins.eclipse.commands.CallEditor"
            id="octane-eclipse-plugin.openEntityEditor"
            name="Open Entity Editor">
      </command>
      <command
            defaultHandler="com.hpe.octane.ideplugins.eclipse.commands.DummyCommand"
            id="octane-eclipse-plugin.dummyCommand"
            name="Dummy Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.hpe.octane.ideplugins.eclipse.preferences.PluginPreferencePage"
            id="com.hpe.octane.ideplugins.eclipse.preferences.PluginPreferencePage"
            name="ALM Octane Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="octane-eclipse-plugin.toolbarActiveItem">
            <control
                  class="com.hpe.octane.ideplugins.eclipse.ui.activeitem.ActiveEntityContributionItem"
                  id="com.hpe.octane.ideplugins.eclipse.ui.ActiveEntityContributionItem">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.hpe.octane.ideplugins.eclipse.ui.search.SearchEditorInput"
            id="com.hpe.octane.ideplugins.eclipse.ui.search.SearchEditorInput">
      </factory>
      <factory
            class="com.hpe.octane.ideplugins.eclipse.ui.editor.EntityModelEditorInput"
            id="com.hpe.octane.ideplugins.eclipse.ui.editor.EntityModelEditorInput">
      </factory>
   </extension>
</plugin>
